{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "react-hooks"
  ],
  "rules": {
    "react/jsx-filename-extension": [0],
    "react/destructuring-assignment": [0],
    "jsx-a11y/label-has-associated-control": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/no-unresolved": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
